body {
    background-color: #eeeeee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.btn-reaction {
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, .1);
    min-width: 60px;
    margin-bottom: 5px;
}

.btn-reaction:hover {
    background-color: #cecece
}

.btn-reaction:active {
    background-color: #cecece;
    transform: translateY(4px);
}

.card {
    margin-bottom: 30px;
}

.ellipsis {
    color: #a09c9c
}

hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.three-dots {
    margin-top: 3px;
    cursor: pointer
}

.icons i {
    font-size: 25px
}

.status small {
    margin-right: 10px;
    color: blue
}

#image {
    background-color: #cecece;
}

#image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
}

.ajax-load {
    width: 100%;
}

.list-reaction {
    float: left;
    margin-right: 5px;
}

.muted-color {
    color: #a09c9c;
    font-size: 13px
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.name {
    font-weight: 600
}

.comment-text {
    word-break: break-word;
}

.comments {
    display: none;
}

.dropdown-toggle::before {
    display: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn-dropdown {
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #ffffff;
    border: none;
    margin-bottom: 5px;
}

.btn-login {
    /*width: 100%;*/
    box-sizing: border-box;
    background: #7289DA;
    border: none;
    color: #fff;
    height: 40px;
    width: 328px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
    user-select: none;
}

.btn-login:hover {
    background: #6B7FC5;
}

.btn-login span {
    font-weight: bold;
}

.login {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto 0;
    font-size: 14px;
}

.box-login {
    /*max-width: 350px;*/
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*background-color: #ffff;*/
    /*border: 1px solid #e6e6e6;*/
    /*border-radius: 1px;*/
    /*margin: 0 0 10px;*/
    /*padding: 10px 0;*/
    /*flex-grow: 1;*/
}

.main-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-header {
    background-color: #ffffff !important;
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 60px;
    }

    .nav-fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media screen and (min-width: 270px) {
    .header-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}
